
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

/* common style */

.width{
    max-width: 1240px;
    margin: 0 auto;
}

.st-text{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(135, 34, 83, 0.686);
    margin-bottom: 2rem;
}

.btn{
    background-color: rgba(229, 84, 115, 1);
    color: white;
    padding: 1.25rem 2.6875rem;
    font-weight: bold;
    font-size: 1.25rem;
    border: none;
}


.title{
    font-weight: bolder;
    font-size: 2.5rem;
    
    color: rgb(229, 84, 115);


    margin-bottom: 1.5625rem;
}
.sec-text{
    max-width: 594px;
    margin: 11.25rem auto 3rem;
}
/* section-1 style */

header{
    background-color: rgba(229, 84, 115, 0.1);
}

.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3.125rem 1rem 0px;

}

.sec1-div-1{
    max-width: 708px;
    
    
}

.sec1-title{

    font-weight: bolder;
    font-size: 5rem;
    /* color: rgba(39, 39, 39, 1); */
    color: rgb(229, 84, 115);
    margin-bottom: 2rem;
}


.sec1-div-2{
    max-width: 635px ;

}

.sec1-img{
    width: 100%;
}

/* section-2 style */

.center{
    text-align: center;
    background-color: #fff;
}



.sec2-d2{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
}

.flower-frame{

    max-width: 464px;
    justify-items: center;
   margin: 0 auto;
    
}

.flower-img-1{
    /* height: 538px; */
    border: none;
   padding: 6.875rem 4.6875rem 0rem;
   background-color: rgba(167, 33, 98, 0.15);
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   margin: 0 auto 2rem;
   
}
.flower-img-2{
    /* height: 538px; */
    border: none;
    border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   margin: 0 auto 2rem;


   padding: 7.3125rem 2.9375rem 1rem;
   background-color: rgba(5, 151, 160, 0.15);
}
.flower-img-3{
    /* height: 538px; */
    border: none;
    border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   margin: 0 auto 2rem;
   padding: 4.1875rem 4.6875rem 0rem;
  
   background-color: rgba(71, 125, 17, 0.15);
}

.flower-img{
    width: 100%; 
}

.flower-btn{
    font-size:medium;
    font-weight: bold;

    /* background-color: aqua; */
    background-color: rgba(229, 84, 115, 1);

    color: #fff;
    padding: 0.5rem 1rem ;
    border-radius: 2rem;
    border: none;
}

button:hover{
    background-color: rgb(13, 205, 199);
    color: #fff;
    font-weight: bolder;
}

/* section-3 style */

.section-3{
    padding: 5rem;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 8rem auto;
}

.sec3-container{
    max-width: 1000px;
    margin: 0 auto;

display: flex;
    justify-content: space-between;
}

.sd{
    justify-items: center;
}

.sd img{
    margin-bottom: 1.5rem;
}

.sd p{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
}

/* section-4 style */

.section-4{
    padding: 6rem 0;
    background-color: rgba(229, 84, 115, 0.05);
}



.sec4-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}

.sec4-d1{

    max-width: 590px;

    text-align: center;
    margin: 0 auto;
}

.sign-btn{
    font-size:medium;
    font-weight: bold;

    background-color: rgba(229, 84, 115, 1);
    color: #fff;
    padding: 1.25rem 2.6875rem ;
    border-radius: 2rem;
    border: none;
}

/* section-5 */

.sec5-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    justify-items: center;
    
}

.img{
    max-width: 250px;
    margin: 2rem auto;
}

/* section-6 */

.section-6{
    background:url("../Rectangle\ 9.png" ); 
    background-repeat: no-repeat;
    padding: 7.625rem 17.9375rem;
    margin: 8rem auto;
}



.tr{
    background: transparent;
}
.form{
    display: flex;
}

.input{
    padding: 1.5rem;
    padding-right: 22.5rem;
    border-radius: 0.5rem;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.subscribe-btn{
    font-size:medium;
    font-weight: bold;

    background-color: rgba(229, 84, 115, 1);
    color: #fff;
    padding: 1rem 2rem ;
    border-radius: 0.5rem;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.sec6-text{
    max-width: 594px;
}

/* footer style */

.section-8{
    color: #fff;
    background-color: black;
    
}

.sec8-container{
    justify-items: center;
    align-content: center;
    height: 50vh;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

.tx{
    color: #fff;
    
}

.tex{
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 576px) {
    
    .section-1,
    .sec2-d2,
    .sec3-container,
    .sec4-container,
    .sec5-container,
    .form{
        flex-direction: column;
        padding: 0 1rem;
    }

    .form{
        gap: 1rem;
    }

    .subscribe-btn,
    .input{
        border-radius: 0.5rem;

    }
    .input{
    padding: 1.5rem;

    }
    
    .section-6{
        padding: 3.5rem 4rem;
    }

    

}

@media screen and (min-width: 576px) and (max-width:992px) {
    
    .section-1,
    .sec2-d2,
    .sec3-container,
    .sec4-container,
    .sec5-container,
    .form{
        flex-direction: column;
        padding: 0 1rem;
    }

    .form{
        gap: 1rem;
    }

    .subscribe-btn,
    .input{
        border-radius: 0.5rem;

    }
    .input{
    padding: 1.5rem;

    }
    
    .section-6{
        padding: 3.5rem 4rem;
        
    }
    

    

}
