
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

/* common style */

.width{
    max-width: 1240px;
    margin: 0 auto;
}

.st-text{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(39, 39, 39, 0.6);
}

.btn{
    background-color: rgba(229, 84, 115, 1);
    color: white;
    padding: 1.25rem 2.6875rem;
    font-weight: bold;
    font-size: 1.25rem;
    border: none;
    margin-top: 2rem;
}

/* section-1 style */

header{
    background-color: rgba(229, 84, 115, 0.1);
}

.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 3.125rem; */
    /* padding-left: 3.125rem; */
    gap: 2rem;
    padding: 3.125rem 1rem 0;

}

.sec1-div-1{
    max-width: 708px;
    
    
}

.sec1-title{

    font-weight: bolder;
    font-size: 5rem;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 2rem;
}


.sec1-div-2{
    max-width: 635px ;

}

.sec1-img{
    width: 100%;
}


@media screen and (max-width: 576px) {
    
    .section-1{
        flex-direction: column;
        padding: 0 1rem;
    }
}
